@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

body {
	background-color: #355E3B;
    display: grid;
}

#card-holder {
    display: grid;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 50px;
    min-width: 300px;
}

#search-bar {
    display:inline-flex;
    margin: 0 auto;
    max-height: 80px;
    padding: 10px;
}

#search-bar-bg {
    position: sticky;
    background-color: #7CFC00;
    border-radius: 10px;
}

#search-icon {
    margin-top: 17px;
    margin-left: 5px;
}

#search-icon:hover {
    cursor: pointer;
}

#filas-cards {
    flex-wrap: wrap;
}

#random-char {
    margin-top: 10px;
    margin-left: 100px;
}

#card-counter {
    margin-top: 14px;
    margin-left: 300px;
}

#btn-close {
    border: none;
    border-bottom-left-radius: 10px;
}

#btn-close-div {
    position: absolute;
    right: 0px;
}

#delete-all {
    margin-top: 10px;
    margin-left: 50px;
}

#show-delete-all-false {
    display: none;
}

#show-delete-all-true {

}

#title-page {
    font-family: 'Patrick Hand SC', cursive;
    color: #7CFC00;
    font-size: 200px;
}